#worldmapoverlay{
	z-index:100;
}
#worldmapimg, #worldmapoverlay{
    height: 97%;
    width: auto;
    position: absolute;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin: 1%;
    left: 4%;
    transform: translateX(0%);
}
