#worldmapimg{
    height: 97%;
    width: auto;
    position: absolute;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin: 1%;
    left: 4%;
    transform: translateX(0%);
}
#worldmapoverlay.alt{
    display: block;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: auto;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    opacity: 0;
    left: 0vw;
}
