body{
    background-color: #3A6182;
    height: 100%;
    width: 100%;
    margin: 0px;
}
nav div{
	background-color: #21435B;
    width: 17%;
    height: 7.9vh;
    position: relative;
    padding: 1.1%;
    padding-top: 0;
    padding-bottom: 0;
    float: none;
    display: inline-flex;
    margin: 0vh 5vw 0vh 5vw;
    align-items: center;
}
nav{
    margin-top: -0.5vw;
    margin-left: -0.5vw;
    width: 100vw;
    height: 7vh;
    display: inline-flex;
    justify-content: center;
}
h2{
	color: #f2f2f2;
    width: 17vw;
    margin: 0px;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    text-align: center;
    font-size: 1.5vw;
	font-family: 'Righteous', cursive;
}
.title{
	width:27%;
}
h1{
	color: #f2f2f2;
    font-size: 2vw;
    text-align: center;
    width: 27vw;
    margin: 0px;
    margin-bottom: 1.5vh;
    margin-top: 1.5vh;
	font-family: 'Righteous', cursive;
	text-decoration:underline;
}
a:link, a:visited {
	text-decoration:none;
	color:white;
}
a:hover, a:active{
	text-decoration:underline;
	color:white;
}
.top{
	width:99vw;
	height:42vh;
	background-color:#243c70;
	position:relative;
	left:0.5vw;
	margin:0.9vh 0 0.4vh;
	top:1vh;
}
#flagquiz{
	background-color: #9ec3ff;
	height :90vh;
	width :100vw;
}
.flagbox{
	margin :0 auto;
	background-color :black;
	width :25vw;
	height :25vh;
	top :8vh;
	position :relative;
	
}

img{
	border :7px solid black;
}

.bottom{
	width:99vw;
	height:35vh;
	background-color:pink;
	position:relative;
	left:0.5vw;
	top :1vh;
}

.bottom1{
	width:99vw;
	height:17.5vh;
	display :flex;
	background-color :#9ec3ff;
}

.answer1{
	background-color :#668dcc;
	width :49.375vw;
	height :17.25vh;
	position :relative;
	text-align :center;
	font-family :calibri;
	font-size :50px;
	color :white;
}

.answer2{
	background-color :#668dcc;
	width :49.375vw;
	height :17.25vh;
	position :relative;
	left :0.25vw;
	text-align :center;
	font-family :calibri;
	font-size :50px;
	color :white;
}

.bottom2{
	width:99vw;
	height:17.5vh;
	display :flex;
	background-color :#9ec3ff;
}

.answer3{
	background-color :#668dcc;
	width :49.375vw;
	height :17.25vh;
	position :relative;
	top :0.25vh;
	text-align :center;
	font-family :calibri;
	font-size :50px;
	color :white;
}

.answer4{
	background-color :#668dcc;
	width :49.375vw;
	height :17.25vh;
	position :relative;
	top :0.25vh;
	left :0.25vw;
	text-align :center;
	font-family :calibri;
	font-size :50px;
	color :white;
}

footer {
	width: 100vw;
    height: 7vh;
    background-color: #1d3d5b;
    position: absolute;
    bottom: 0vh;
}


