body{
    background-color: #3A6182;
    height: 100%;
    width: 100%;
    margin: 0px;
}
nav div{
	background-color: #21435B;
    width: 17%;
    height: 8vh;
    position: relative;
    padding: 1.1%;
    padding-top: 0;
    padding-bottom: 0;
    float: none;
    display: inline-flex;
    margin: 0vh 5vw 0vh 5vw;
    align-items: center;
}
nav{
	margin-top: -0.5vw;
    margin-left: -0.5vw;
    width: 100%;
    height: 8vh;
}
h2{
	color: #f2f2f2;
    width: 17vw;
    margin: 0px;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    text-align: center;
    font-size: 1.5vw;
	font-family: 'Righteous', cursive;
}
#title{
	width:27%;
}
h1{
	color: #f2f2f2;
    font-size: 2vw;
    text-align: center;
    width: 27vw;
    margin: 0px;
    margin-bottom: 1.5vh;
    margin-top: 1.5vh;
	font-family: 'Righteous', cursive;
	text-decoration:underline;
}
a:link, a:visited {
	text-decoration:none;
	color:white;
}
a:hover, a:active{
	text-decoration:underline;
	color:white;
}
#worldmapborder{
    background-color: #1D3D5B;
    height: 83vh;
    width: 100%;
}
#worldmapbody{
    background-color: #C4DAF2;
    position: relative;
    width: 96%;
    height: 100%;
    right: -2%;
    left: 2%;
    display: flex;
    justify-content: center;
	overflow: auto;
}
#worldmapimg{
	height: 95%;
    margin: 1%;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
    left: -50%;
    transform: translateX(50%);
    width: auto;
}

footer{
    background-color: #3A6182;
    width: 98%;
    height: 2vw;
    margin: 1%;
}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.popup .popuptext {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    min-width: 277px;
    max-width: 333.8px;
    width: 20vw;
    height: auto;
    background-color: #6290B7;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: fixed;
    right: 2vw;
    z-index: 1;
}
.popup .show {
  visibility: visible;
  opacity:1;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.popupflag{
    width: 97%;
    height: 32.34%;
    position: relative;
    border: 5px solid #4e6f8b;
    top: -0.6vh;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.infotext{
    text-align: center;
    font-size: 2vh;
    position: relative;
    top: -2vw;
    font-family: 'Righteous', cursive;
	text-shadow: -1px -1px 0 #1D3D5B, 1px -1px 0 #1D3D5B, -1px 1px 0 #1D3D5B, 1px 1px 0 #1D3D5B;
}
h4{
	margin:1em;
}
.NC{
    font-size: 3vh;
    text-decoration: underline;
    margin: 1em 0em 0.8em 0em;
	text-align: center;
    position: relative;
    top: -2vw;
    font-family: 'Righteous', cursive;
	text-shadow: -1px -1px 0 #1D3D5B, 1px -1px 0 #1D3D5B, -1px 1px 0 #1D3D5B, 1px 1px 0 #1D3D5B;
}