body{
    background-color: #3A6182;
    height: 100%;
    width: 100%;
    margin: 0px;
}
nav div{
	background-color: #21435B;
    width: 17%;
    height: 8vh;
    position: relative;
    padding: 1.1%;
    padding-top: 0;
    padding-bottom: 0;
    float: none;
    display: inline-flex;
    margin: 0vh 5vw 0vh 5vw;
    align-items: center;
}
nav{
    margin-top: -0.5vw;
    margin-left: -0.5vw;
    width: 100vw;
}
h2{
	color: #f2f2f2;
    width: 17vw;
    margin: 0px;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    text-align: center;
    font-size: 1.5vw;
	font-family: 'Righteous', cursive;
}
#title{
	width:27%;
}
h1{
	color: #f2f2f2;
    font-size: 2vw;
    text-align: center;
    width: 27vw;
    margin: 0px;
    margin-bottom: 1.5vh;
    margin-top: 1.5vh;
	font-family: 'Righteous', cursive;
	text-decoration:underline;
}
a:link, a:visited {
	text-decoration:none;
	color:white;
}
a:hover, a:active{
	text-decoration:underline;
	color:white;
}
#worldmapborder{
    background-color: #1D3D5B;
    height: 83vh;
    width: 100%;
}
#worldmapbody{
    background-color: #C4DAF2;
    position: relative;
    width: 96%;
    height: 100%;
    right: -2%;
    left: 2%;
    display: flex;
    justify-content: center;
	overflow: auto;
}
#worldmapbody img{
    height: 96%;
    margin: 1%;
    position: absolute;
}
#Country:hover .tooltip{
  visibility: visible;
}
.tooltip{
    visibility: hidden;
    width: 300px;
    height: 500px;
    background-color: #6290B7;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    right: 0vw;
    z-index: 1;
}
footer{
	background-color: #3A6182;
    width: 99%;
    height: 2vw;
    margin: 8px;
}
