
/* Top Section - Nav Bar */

nav div{
    background-color: #21435B;
    width: 44%;
    height: 7vh;
    position: relative;
    float: none;
    display: inline-flex;
    margin: 0vh 2% 0vh 2%;
    align-items: center;
    padding: 0px;
}
nav{
    margin-top: -0.5vw;
    margin-left: -0.5vw;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    position: relative;
}
h2{
	color: #f2f2f2;
    margin: 0px;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    text-align: center;
    font-size: 100%;
    font-family: 'Righteous', cursive;
    width: 100%;
}
#title{
    width: 80%;
    background-color: #21435B;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
    margin: 0px 10% 1vh 10%;
}
.endlink{
	margin: 0vh 2% 0vh 2%;
}
h1{
    color: #f2f2f2;
    font-size: 140%;
    text-align: center;
    margin: 0px;
    margin-bottom: 1.5vh;
    margin-top: 1.5vh;
    font-family: 'Righteous', cursive;
    text-decoration: underline;
    width: 100%;
}
a:link, a:visited {
	text-decoration: none;
    color: white;
    text-align: center;
    width: 100%;
}

/* Middle Section - World Map */

#worldmapborder{
	background-color: #1D3D5B;
    height: 76vh;
    width: 100%;
}
#worldmapbody{
    background-color: #C4DAF2;
    position: relative;
    width: 96%;
    height: 100%;
    right: -2%;
    left: 2%;
    display: flex;
    justify-content: center;
	overflow: auto;
}
#worldmapbody.alt{
	background-color: #C4DAF2;
    position: relative;
    width: 96%;
    height: 47%;
    right: -2%;
    left: 2%;
    display: flex;
    justify-content: center;
    overflow: auto;
}
#worldmapimg{
    height: 150%;
    width: auto;
    margin: 3%;
    position: relative;
    left: 60%;
    transform: translateX(34%);
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
#worldmapimg.alt{
    height: 150%;
    width: auto;
    margin: 3%;
    position: relative;
    left: -17%;
    transform: translateX(40%);
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
#worldmapoverlay{
    display: none;
    position: absolute;
    z-index: 100;
    height: 158%;
    width: 1202%;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    opacity: 0;
}
#worldmapoverlay.alt{
    display: block;
    position: absolute;
    z-index: 100;
    height: 161%;
    width: 1569px;
    min-width: 50%;
    max-width: 518%;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    opacity: 0;
}

 /* World Map - Popup */

.popupflag{
	max-width: 50%;
    max-height: 50.34%;
    width: auto;
    height: auto;
    position: relative;
    border: 5px solid #3a6182;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    left: -22vw;
    top: 7vh;
    box-sizing: border-box;
}
.infotext{
    text-align: left;
    height: 80%;
    width: auto;
    font-size: 1.7vh;
    position: absolute;
    top: 7vh;
    left: 50vw;
    font-family: 'Righteous', cursive;
    display: inline-flex;
    text-shadow: -1px -1px 0 #1D3D5B, 1px -1px 0 #1D3D5B, -1px 1px 0 #1D3D5B, 1px 1px 0 #1D3D5B;
    flex-direction: column;
}
.popup .popuptext{
	visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    width: 96vw;
    height: 37vh;
    background-color: #6290B7;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: fixed;
    top: 51vh;
    right: 2vw;
    z-index: 1;
    min-width: 0px;
    min-height: 0px;
    max-width: 1000em;
    max-height: 1000em;
}
.popup .show {
  visibility: visible;
  opacity:1;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
h4{
	margin: 0.5em auto;
    width: 90%;
    position: relative;
}
.NC{
    font-size: 3vh;
    margin: 0.8em 0em 0.8em 0.3em;
    width: 200%;
    position: absolute;
    left: -50vw;
    top: 0vw;
    text-align: center;
    text-decoration: underline;
    font-family: 'Righteous', cursive;
    text-shadow: -1px -1px 0 #1D3D5B, 1px -1px 0 #1D3D5B, -1px 1px 0 #1D3D5B, 1px 1px 0 #1D3D5B;
}
.windowclose{
	position: absolute;
    z-index: 1;
    top: -2vh;
    right: 0.3vw;
    font-size: 1.3em;
    font-family: cursive;
}

/* Bottom Section - Footer  */

footer{
	background-color: #3A6182;
    width: 98%;
    height: 6vh;
    margin: 2%;
    font-size: 0.8em;
}