nav div{
    background-color: #21435B;
    width: 18%;
    height: 8vh;
    position: relative;
    padding: 1.1%;
    padding-top: 0;
    padding-bottom: 0;
    float: left;
    display: inline-flex;
    margin: 0vh 5vw 0vh 5vw;
    align-items: center;
}
nav{
	margin-top: -0.5vw;
    margin-left: -0.5vw;
    width: 100%;
    height: 8vh;
}
h2{
	color: #f2f2f2;
    margin: 0px;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    text-align: center;
    font-size: 3.4vw;
    font-family: 'Righteous', cursive;
    width: 100%;
}
#title{
	width:27%;
}
h1{
    color: #f2f2f2;
    font-size: 4vw;
    text-align: center;
    width: 27vw;
    margin: 0px;
    margin-bottom: 1.5vh;
    margin-top: 1.5vh;
    font-family: 'Righteous', cursive;
    text-decoration: underline;
}
a:link, a:visited {
	text-decoration: none;
    color: white;
    text-align: center;
    width: 100%;
}
#worldmapborder{
    background-color: #1D3D5B;
    height: 83vh;
    width: 100%;
}
#worldmapbody{
    background-color: #C4DAF2;
    position: relative;
    width: 96%;
    height: 100%;
    right: -2%;
    left: 2%;
    display: flex;
    justify-content: center;
	overflow: auto;
}
#worldmapimg{
    height: 150%;
    width: auto;
    margin: 3%;
    position: relative;
    left: 30%;
    transform: translateX(30%);
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
footer{
    background-color: #3A6182;
    width: 98%;
    height: 2vw;
    margin: 2%;
}
.popupflag{
    width: 50%;
    height: 50.34%;
    position: relative;
    border: 5px solid #4e6f8b;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    left: -22vw;
    top: 7vh;
}
.infotext{
	text-align: left;
    height: 80%;
    width: auto;
    font-size: 2vh;
    position: absolute;
    top: 20vw;
    left: 50vw;
    font-family: 'Righteous', cursive;
    display: inline-flex;
    text-shadow: -1px -1px 0 #1D3D5B, 1px -1px 0 #1D3D5B, -1px 1px 0 #1D3D5B, 1px 1px 0 #1D3D5B;
    flex-direction: column;
}
.popup .popuptext{
    /* visibility:hidden;*/
    /*opacity: 0; */ opacity: 1;
    transition: opacity 0.3s;
    width: 96vw;
    height: 41vh;
    background-color: #6290B7;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: fixed;
    bottom: 9.1vh;
    right: 2vw;
    z-index: 1;
    min-width: 0px;
    min-height: 0px;
    max-width: 1000em;
    max-height: 1000em;
}
h4{
	margin: 0.5em auto;
    width: 90%;
    position: relative;
    top: -5vw;
}
.NC{
    font-size: 3vh;
    margin: 0.8em 0em 0.8em 0.3em;
    width: 200%;
    position: absolute;
    left: -50vw;
    top: 0vw;
    text-align: center;
    text-decoration: underline;
    font-family: 'Righteous', cursive;
    text-shadow: -1px -1px 0 #1D3D5B, 1px -1px 0 #1D3D5B, -1px 1px 0 #1D3D5B, 1px 1px 0 #1D3D5B;
}
